@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham';
  src: url(/fonts/gotham-medium-webfont.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url(/fonts/gotham-bold-webfont.woff) format('woff2');
  font-weight: 700;
  font-style: normal;
}
