@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham';
  src: url(/fonts/gotham-book-webfont.woff2) format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Aptos';
  src: url(/fonts/Aptos.woff2) format('woff2');
  font-weight: 200;
  font-style: normal;
}
