body {
    height: 100%; /* Pastikan body memiliki tinggi penuh */
    background:
        linear-gradient(
            to bottom right,
            rgba(255, 0, 0, 0.5),
            rgba(0, 0, 255, 0.5)
        ),
        /* Gradient */ url("../img/gedung_tvri.jpg"); /* Gambar latar belakang */
    background-size: cover; /* Menyesuaikan gambar agar menutupi seluruh area */
    background-position: center; /* Memusatkan gambar */
}
